@charset "UTF-8";
@font-face {
        font-family:'FontLogo';
        src: url();
}
body {
    background-color: black;
}
p {
    font-size: 20pt;
    color: blueviolet;
    font-family: Agency FB;
}
h1 {
    font-size: 70pt;
    font-family: Agency FB;
    color: rgb(24, 173, 231);
}